.canvas {
    pointer-events: none;
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
  }

  .htmlScreen iframe{
    width: 920px;
    height: 800px;
    border-radius: 10%;
  }

  /* .flow{
    background-image: url('./Screenshot 2023-12-06 at 23.19.27.PNG');
    background-position: center;
    
  } */